@media (max-width: 1199.5px) {
  /* custom css */
    .common-card{
    padding:1.0714rem;
    }

    .hero-badges .badge{
    font-size:1rem;
    }
}
@media (max-width: 991px) {
  /* custom css */
    .wrapper{
    padding:3.125rem 0;}

    .main-btn{
    font-size:0.875rem;
    }
    h1{
    font-size: 2.8125rem;
    margin-bottom:0.625rem;
    } 

h2{
font-size: 1.875rem;
}
h3{
font-size: 1.5625rem;
}
h4{
font-size: 1.25rem;
}
h5{
    font-size: 1.125rem;
}
p{
    font-size: 0.875rem;
    line-height: 1.35rem;
}


  /* 2 Navbar */
.header-scrolled{
height:auto;
  }
.header_wrapper  .menu-navbar-nav .nav-item{
text-align:center;
}  

.header_wrapper .nav-item .nav-link{
margin-top:0.9375rem;}

  /* about */
.about_wrapper img{width:100%;

}


  /* services */
   
}

@media (max-width: 767.5px) {
  /* custom css */
  h1{
font-size: 2.5rem;
line-height: 2.5rem;
  }

h2{
font-size: 1.75rem;
line-height: 2.5rem;
}
h5{


font-size: 1.25rem;}


  /* Ads */
  .ads_wrapper .card {
    flex-direction: column;
  }

  /* service */
  

  /* footer */
  
}

@media (max-width: 360px) {
  /* banner */
.banner_wrapper .vertical-text{
display:none;}  

  /* about */


.about wrapper .about-animate{
width:6.875rem;
}

  

  /* Ads */
  .ads_wrapper .card {
flex-direction:column;
}
.ads_wrapper .ad-image{
margin-top:2.1429rem;}

}
