/* general */
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100;200;300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100 .. 900;1,100 .. 900&display=swap");


*{
/* background-color:#9e9891; */
box-sizing: border-box;
    margin: 0;
    padding: 0;

}

:root {
  /* ================= Background Colors ================= */
--primary-color: #00ff37;
--secondary-color: rgba(0, 255, 55, 0.05);
--bg-white: #ffffff;
--bg-dark-light: rgba(255, 255, 255, 0.05);
--bg-black: #000000;
--bg-black-primary: #121212;
--bg-black-secondary: linear-gradient(
        135deg,
        #0a0a0a 0%,
        #1a1a1a 100%
  ); 

  /* ================= Fonts ================= */
--primary-font: "Roboto", sans-serif;
--secondary-font: "Josefin Sans", sans-serif;
/* ================= Text Colors ================= */
--primary-text: #00ff37;
--text-white: #ffffff;
--text-black: #000000;
--text-light: #dddddd;
}

/* generel */

html,
body {
  
font-family: var(--primary-font);
background-color: var(--bg-black-primary);

font-size: 14px;}

a{
text-decoration: none;}

::-webkit-scrollbar {
width: 0.375rem;
}

::-webkit-scrollbar-track {
background: var(--bg-black);
}

::-webkit-scrollbar-thumb {
background: var(--primary-color);
}




.main-btn{
color:var(--text-black);
text-align:center;
padding:0.8571rem 2.1429rem;
font-size:1rem;
font-weight:700;
font-family:var(--secondary-font);
background:var(--primary-color);
text-transform:capitalize;
border-radius:1.7857rem;
transition:all 0.3s ease;}

.main-btn:hover{
background:var(--bg-white);
box-shadow:0 0.3571rem 1.0714rem var(--secondary-color);
transform:scale(1.05);
}

h1{
  font-size: 4rem;
  margin-bottom:1.25em;
  font-weight:700;
  font-family:var(--secondary-font);
  color: var(--primary-text);

  background: linear-gradient(45deg, var(--bg-white),var(--primary-color));
  -webkit-background-clip:text;
  background-clip: text;

  -webkit-text-fill-color:transparent;

  color: transparent;
  text-shadow: 0 0 0.5rem rgba(0, 255, 55, 0.03);
  
}

@supports not (-webkit-background-clip: text) {
  h1{
    background: none;
    -webkit-text-fill-color: initial;
    color: var(--primary-text);
    text-shadow: none;
  }
}




h2{
  font-size: 2.785rem;
  font-weight: 700;
  color: var(--text-white);

  font-family: var(--secondary-font);
  text-transform:capitalize;
}

h3{
  font-size: 2.25rem;
  font-weight: 600;
  color: var(--text-white);

  font-family: var(--secondary-font);
  /* text-transform: capitalize; */
}

h4{
  font-size: 1.7143rem;
  font-weight: 600;
  color: var(--text-white);
  font-family: var(--secondary-font);
  /* text-transform: capitalize; */
  margin-bottom: 1.5;
}
h5{
  
  font-size: 1.2875rem;
  font-weight: 600;
  color: var(--text-white);
  /* font-family: var(--secondary-font); */
  /* text-transform: capitalize; */
  margin-bottom: 0.9375rem;

}
h6{
  font-size: 1 rem;
  font-weight: 500;
  color: var(--text-white);
  /* font-family: var(--secondary-font);
  text-transform: capitalize; */
  margin-bottom: 0.9375rem;
}

  p{
  font-size:1rem;
  font-weight: 400;
  color: var(--text-light);
  line-height:1.625rem;
  }

  .wrapper{
  padding:5.25rem 0;
  }
  .wrapper .highlight{
  color:var(--primary-text);
  }
  .section-title .title-design{
  display: flex;
  align-items: center;
  justify-content: center;
  gap:1.0714rem;

  }
  .section-title .title-design .line{
  width:5rem;
  height:0.1429rem;
  background:var(--primary-color);
  }

  .section-title .title-design i{
  color:var(--primary-color);
  font-size:2.1429rem;
  }

.common-card{
    background-color: var(--bg-dark-light);
    border-radius: 1.0714rem;
    padding: 2.1429rem;
    margin-bottom: 2.1429rem;
    border:0.0714rem solid var(--bg-black);
    transition: transform 0.3s ease;
}


  .commom-card{
    background-color: var(--bg-dark-light);
    border-radius: 1.0714rem;
    padding: 2.1429rem;
    margin-bottom: 2.1429rem;
    border:0.0714rem solid var(--bg-black);
    transition: transform 0.3s ease;


  }

  .common-card .card-icon{
  width:4.2857rem;
  height:4.2857rem;
  background: var(--primary-color);
  border-radius: 50%;
  display: flex;
  align-items:center;
  justify-content:center;
  margin-bottom:1.4286rem;
}


.common-card.card-icon i{
  font-size:2.1486rem;
  /* color: var( -- text-black); */
}

/* navigation  */

.header_wrapper .navbar{
  padding:0.9375rem 0;
  background-color:var(--bg-black);
  transition: 0.3s ease-in;
}



.header_wrapper .navbar-toggler{
border:0;
color:var( -- text-white);
line-height: 2;
}

.header_wrapper .navbar-toggler .focus{
box-shadow: none;

}

.header_wrapper .nav-item{
  margin:0 0.625rem;
  }
.header_wrapper .nav-item .nav-link{
  font-size:1rem;
  font-family:var(--secondary-font);
  font-weight: 500;
  text-transform:uppercase;
  color:var(--text-white);
}

.header_wrapper .nav-item .nav-link.active,
.header_wrapper .nav-item .nav-link:hover{
color:var(--primary-text)
}

.header_wrapper .nav-item .main-btn{
font-size: 1rem;
padding: 0.5714rem 1.7143rem;
}


.main-btn .swing{
animation: shake 1s ease infinite;

}
@keyframes shake{
  0%,
  100%{
  transform: rotate(0deg);
  }
  20%,
  60%{
  transform: rotate(-10deg);
  }
  40%,
  80%{
  transform: rotate(10deg);
  }
}

.navbar.header-scrolled{
position:fixed;
top:0;
left:0;
width:100%;
z-index:999;
background-color: var(--bg-black);
box-shadow: 0.5084rem 1.1419rem 2.5rem 0 rgb(0 0 0 / 8%);
transition: 0.3s ease-in-out;
}

/* banner */

.banner_wrapper{
  background-color: var(--bg-black);
  position:relative;

}

.vertical-text{
  position: absolute;
  right: 3.2143rem;
  top:40%;
  transform: rotate(-90deg) translateX(50%);
  transform-origin: right;
  font-family: var( -- secondary-font);
  font-size:3rem;
  font-weight:700;
  color:var(--primary-text);
  opacity: 1.1;
  text-transform: uppercase;
  white-space: nowrap;
  pointer-events: none;

}


.banner_wrapper p{
max-width:80%;
color:var( -- text-light);
margin-bottom:1.5rem;}

.hero-badges{
display: flex;
gap: 1rem;
margin-top:1.5rem;
color:var(--text-light);
}

.navbar{
top:0;
display: block;

}

/* 4 abaout */

.about_wrapper{
background:var(--bg-black-secondary);
}

.products_wrapper .card{
background: var(--bg-dark-light);
border-radius: 1.0714rem;
box-shadow: 0 0.7143rem 1.4286rem rgba(0,0,0,0.2);
height: 100%;
transition: transform 0.3s ease ;
}

.products_wrapper .card:hover{
transform: translateY(-0.7143rem);
}

.products_wrapper .card .product-img{
width:100%;
height:100%;
}

.products_wrapper .card p{
color:var(--primary-text);
text-transform:uppercase;
font-weight: 700;
}

.ads_wrapper .card{
display: flex;
align-items: center;
flex-direction: row;
justify-content: space-between;
padding:2.8571rem;
background-color: var(--secondary-color);

}


.ads_wrapper .ad-image img{
max-width: 100%;
height: auto;
transform: scale(1.1);
transition: transform 0.3s ease;
}

.ads_wrapper .discount{
font-size:3rem;
font-weight:800;
color:var(--text-light);
margin-bottom:0.7143rem;
text-shadow: 0 0 0.7143rem rgba(0,255,55);
}

.services_wrapper{
background: var(--bg-black-secondry);
}

.services_wrapper .common-card{
min-height: 17.8571rem;
height:100%;
transition: transform 0.3s ease;
cursor: pointer;

}

.services_wrapper .common-card:hover{
transform: translateY(-0.7143rem);
}

/*  facts section */


.facts_wrapper .common-card{
background-color: var(--bg-black);
border:0.0714rem solid var(--bg-black);
transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.facts_wrapper .common-card:hover{
transform: translateY(-0.7143rem);
border-color:var(--primary-color);
box-shadow: 0 0.7143rem 2.1429remrgba(0,255,55,0.1);
}

.facts_wrapper .fact-icon{
font-size:2.5rem;
color:var(--primary-color);
margin-bottom:1.5rem;
position:relative;
}

.footer_wrapper{
background: var(--bg-black-secondry);
}

.footer_wrapper ul li{
margin-bottom:0.5rem;
list-style: none;
font-size: 0.875rem;
}




.footer_wrapper .contact-info li a{
color:var(--text-white)
}
.footer_wrapper .link-widget li a,
.footer_wrapper p{
color:var(--text-white);
font-size: 1rem;
padding-left:1.5rem;
position:relative;
transition: all 0.3s ease-out 0s;

}

.footer_wrapper .link-widget li a::before{
content:"\f105";
font-family:"Font Awesome 5 Free";
font-weight:900;
position:absolute;
left:0.3rem;
top:50%;
transform: translateY(-50%);

}
.footer_wrapper .link-widget li a:hover{
margin-left:0.625rem;
color:var(--primary-text)}